body, html {
    padding:0;
    margin:0;
    background-color: #F5F4EF;
    height: 100%;
}

h1 {
    font-size: 1.8em;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-float {
    float: none;
    clear: both;
}

article {
    height: 100%;
}

header {
    height: 60px;
    width: 100%;
    background-color:#000;
    padding: 10px 5px;
    box-sizing: border-box;
}

header h2 {
    color: #FFF;
    padding:0;
    margin:0;
}

.content-container {
    margin-top: 10px;
    width:100%;
    height:100%;
}

nav#left {
    position:absolute;
    left:0;
    width:180px;
    height:100%;
    background-color:#CCC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav#left ul {
  padding: 0;
  margin: 0;
}

nav#left ul li {
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid #FFF;
}

nav#left ul li a {
  color: #000;
  text-decoration: none;
}

nav#left ul li:hover {
  background-color: #C74451;
}

#center {
    height:100%;
    margin: 0 225px 0 185px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px;
}

.profile-photo {
    float:left;
    margin-right: 15px;
}

.summary-content {
    overflow: hidden;
}

.skills-list {
    padding: 0;
    margin: 0;
}

.skills-list li {
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.skills-header {
    font-weight: bold;
    font-size: 16px;
    padding: 15px 5px;
}

#right {
    position:absolute;
    right:0;
    top:70px;
    width:220px;
    height:100%;
    background-color:#C74451;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}